/* articles section start */
.articles {
  padding: 135px 0 100px;

  .wrapper {
    width: 44%;
  }
}

.article-items {

  li {
    padding-bottom: 75px;
  }

  .quote-icon {
    @include flex(flex,$justify:center);
    text-indent: -9999px;
  }
  
  .quote-icon::before {
    @include icon('\f10d', $size:30px, $textIndent:true);
    @include color('dark-blue');
  }

  p {
    padding: 20px 0 15px;
    line-height: 1.7;
  }

  h3 {
    @include font($size:17px, $weight:bold, $text:capitalize, $textAlign:right);
  }

  .writer-name {
    @include color('mid-blue');
  }

  .upper-text {
    @include font($text:uppercase);
  }
}

/* articles section end */