/* banner start */
.banner {
  max-height: 700px;
  height: 92.5vh;
  @include position(relative);
  @include background("blue");

  .banner-content {
    width: 100%;
    @include position(absolute, $top:53.3%, $left:50%);
    @include color("white");
    @include font($textAlign:center);
    @include transform(translate(-50%, -50%));
  }

  h2 {
    @include font($size:41px, $weight:400, $text:capitalize);
  }

  p {
    padding: 17px 0 40px;
    @include font($size:22px, $weight:400);
  }

  a {
    padding-bottom: 18px;
    @include position(relative);
    @include color("white");
    @include font($size:16px, $weight:bold, $text:uppercase);

    &::before {
      @include icon('\f078', $position:absolute, $bottom:0, $left:50%, $size:10px);
      @include transform(translate(-50%, -50%));
    }
  }
}

/* banner end */