/* footer start */
.white-text {
  @include color("white");
  @include font($weight:bold);
}

footer {
  padding: 100px 92px 0;
  @include background("light-black");
  @include color("light-grey");

  .wrapper {
    width: 100%;
  }
}

.footer-items {
  padding-bottom: 72px;
  @include flex(flex, $basis:30%, $gap:66px);
}

.footer-list {
  @include flex($basis:32%);

  figure {
    width: 20%;
    margin-right: 13px;
    border: 5px solid #000;
    float: left;
  }
}

.footer-list:first-child {
  padding-top: 8px;
}

.footer-list:nth-child(2) {
  @include flex($basis:29%);
}

.experiance-para,
.available-para {
  line-height: 1.6;
}

.experiance-para {
  padding-bottom: 13px;
  @include font($size:15px);
}

.available-para {
  width: 75%;
  @include font($size:14px);
}

.social-platform {
  padding-bottom: 18px;
  @include flex(flex);
  @include font($size:14px);
}

.social-details {
  margin-top: 6px;
  line-height: 1.6;
}

.social-icons {
  a {
    text-indent: -9999px;

    &::before {
      padding-right: 7px;
      @include icon($color:"white", $size:26px, $textIndent:true);
    }
  }
}

.twitter::before {
  @include onlyIcon('\f099');
}

.github::before {
  @include onlyIcon('\f09b');
}

.linkedin::before {
  @include onlyIcon('\f0e1');
}

.footer-nav {
  @include flex(flex, $direction:column);

  li {
    padding-bottom: 20px;
  }

  li:nth-child(5)::before {
    @include icon('\f07a', $color:"light-grey", $size:13px);
  }

  a {
    padding: 10px 0 6px;
    @include font($size:16px, $text:uppercase);
    @extend .white-text;

    @include minResponsive("tablet") {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  p {
    @include font($size:15px);
  }
}

.copyright {
  padding-bottom: 23px;
  @include font($size:12px, $text:capitalize, $textAlign:center)
}

/* footer end */