/* header start */
header {
  width: 100%;
  padding: 28px 0;
  @include position(absolute, $zIndex:1, $top:0, $left:0);

  .wrapper {
    @include flex(flex, $justify:space-between);
  }

  .hamburger {
    @include display(none);
  }
}

.nav-div {
  margin-bottom: 10px;
  @include flex(flex, $align:center);
}

.nav-items {
  margin-right: 11px;
  @include flex(flex, $gap:20px);

  li:last-child::before {
    margin-right: 5px;
    @include icon('\f07a', $color:"white", $size:11px);
  }

  a {
    @include position(relative);
    @include color("white");
    @include font($size:14px, $weight:600, $text:uppercase);

    &::before {
      content: '';
      @include content-size(0, 2px);
      @include display(block);
      @include position(absolute, $bottom:-10px);
      @include background("white");
      @include transition(all .3s ease);
    }

    @include minResponsive(tablet) {
      &:hover::before {
        @include content-size(100%, 2px);
      }
    }
  }
}

.hire-btn {
  a {
    padding: 15px 10px;
    @include background("dark-blue");
    @include color("white");
    @include font($size:15px, $weight:600, $text:uppercase);
  }
}

/* header end */