$colors : ("black":#000, "white":#fff);
$background-colors : ("white":#fff, "blue":#3894CE, "dark-blue":#205D8A);
$devices:("desktop":"1024px", "tablet":"995px", "ipad":"768px", "largePhone":"540px", "mediumPhone":"480px", "smallPhone":"320px");
$autoMargin : 0 auto;