/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 84%;
  margin: 0 auto;
}

/* header start */
header {
  width: 100%;
  padding: 28px 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
header .wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
header .hamburger {
  display: none;
}

.nav-div {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.nav-items {
  margin-right: 11px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 20px;
}
.nav-items li:last-child::before {
  margin-right: 5px;
  content: "\f07a";
  color: #fff;
  font-family: "FontAwesome";
  font-size: 11px;
}
.nav-items a {
  position: relative;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.nav-items a::before {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  position: absolute;
  bottom: -10px;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media only screen and (min-width: 995px) {
  .nav-items a:hover::before {
    width: 100%;
    height: 2px;
  }
}

.hire-btn a {
  padding: 15px 10px;
  background: #205D8A;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

/* header end */
/* banner start */
.banner {
  max-height: 700px;
  height: 92.5vh;
  position: relative;
  background: #3894CE;
}
.banner .banner-content {
  width: 100%;
  position: absolute;
  top: 53.3%;
  left: 50%;
  color: #fff;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.banner h2 {
  font-size: 41px;
  font-weight: 400;
  text-transform: capitalize;
}
.banner p {
  padding: 17px 0 40px;
  font-size: 22px;
  font-weight: 400;
}
.banner a {
  padding-bottom: 18px;
  position: relative;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.banner a::before {
  content: "\f078";
  position: absolute;
  bottom: 0;
  left: 50%;
  font-family: "FontAwesome";
  font-size: 10px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* banner end */
/* gallery part start */
.gallery .wrapper {
  width: 100%;
}

.gallery-items {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.gallery-items li {
  flex: 1 0 30%;
}

/* gallery part end */
/* articles section start */
.articles {
  padding: 135px 0 100px;
}
.articles .wrapper {
  width: 44%;
}

.article-items li {
  padding-bottom: 75px;
}
.article-items .quote-icon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-indent: -9999px;
}
.article-items .quote-icon::before {
  content: "\f10d";
  font-family: "FontAwesome";
  font-size: 30px;
  float: left;
  text-indent: 0;
  color: #205D8A;
}
.article-items p {
  padding: 20px 0 15px;
  line-height: 1.7;
}
.article-items h3 {
  font-size: 17px;
  font-weight: bold;
  text-align: right;
  text-transform: capitalize;
}
.article-items .writer-name {
  color: #256DA3;
}
.article-items .upper-text {
  text-transform: uppercase;
}

/* articles section end */

/*# sourceMappingURL=style.css.map */
